<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymelear.org">
    <head th:replace="~{layout/plantilla :: head}"></head>
    <body>
    <header th:replace="~{layout/plantilla :: header}"></header>
    
    <section th:replace="~{categoria/fragmentos :: botonesAgregar }" />
    <section th:replace="~{categoria/fragmentos :: agregarCategoria }" />
    <section th:replace="~{categoria/fragmentos :: listadoCategoria }" />
    
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
        
    
    
        
    </body>
</html>