<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymelear.org">
    <head th:replace="~{layout/plantilla :: head}"></head>
    
    <header th:replace="~{layout/plantilla :: header}"></header>
    
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
        
    
    <body>
        <div>Mostrtando el index desde MVC</div>
    </body>
</html>
